<!-- about -->
<div class="container">
  <div class="row justify-content-md-center py-3">
    <div class="col col-md-6">
      <h1>Che cos'è?</h1>
      <p class="justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In facilisis
        metus a sollicitudin faucibus. Phasellus urna massa, posuere sed laoreet
        ut, feugiat a diam. Pellentesque a magna felis. Ut tempus, ex in finibus
        sollicitudin, erat velit rhoncus nisi, ac tempus elit augue tempor
        neque. Nullam tempus, tellus ac malesuada vehicula, dui erat viverra
        ligula, et ullamcorper elit leo at ipsum. Class aptent taciti sociosqu
        ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas
        id fermentum elit, eget vulputate nunc. Cras laoreet feugiat
        sollicitudin. Maecenas imperdiet turpis vitae dui pulvinar consectetur.
        Nam id accumsan nisi. Fusce laoreet elit et suscipit suscipit. Aenean
        tellus neque, ornare at leo at, cursus vulputate mauris. Vivamus
        tincidunt orci non pretium rhoncus. Nulla eu viverra metus. Fusce purus
        lectus, semper sed magna at, consequat posuere ante. Vestibulum molestie
        nulla eget justo luctus, eget gravida ligula tincidunt.
      </p>
    </div>
  </div>
</div>
