<!-- about -->
<div class="container" id="about">
  <div class="row justify-content-md-center py-3">
    <div class="col col-md-6">
      <h1>Che cos'è?</h1>
      <p class="text-justify">
        Il Veneto che Vogliamo è un percorso che si pone come obiettivo quello
        di mettersi in ascolto del territorio veneto e costruire occasioni di
        incontro e scambio tra persone e realtà, per indagare assieme gli
        scenari e gli orizzonti del civismo veneto, in vista delle elezioni
        regionali del 2020. Incontri in tutte le province, per far emergere
        istanze condivise e per intercettare realtà che dal basso provano a
        cambiare le cose.
      </p>
      <p class="text-justify">
        In Veneto, una delle terre più inquinate d’Europa dove i cittadini sono
        sempre più lontani dalla politica, le elezioni regionali del 2020
        aprono, dopo 25 anni, una nuova opportunità per il nostro territorio.
        Siamo una regione con un forte astensionismo (quasi il 40% degli aventi
        diritto) ed una netta predominanza di un partito come la Lega, oramai
        sempre più vocato a cavalcare e strumentalizzare temi nazionali,
        dimenticando nella maggioranza dei casi le specificità e le esigenze
        territoriali.
      </p>
      <p>
        <a
          data-toggle="collapse"
          href="#collapseText"
          role="button"
          aria-expanded="false"
          aria-controls="collapseText"
        >
          Leggi di pi&ugrave;..
        </a>
      </p>
      <div class="collapse" id="collapseText">
        <p class="text-justify">
          Ci sono però molti veneti profondamente convinti che il futuro non sia
          scritto, che nella regione esistano forti spinte verso il cambiamento
          e che serva mettersi in gioco tutti assieme con molta umiltà per
          disegnarlo. Per questo prende il via questa campagna, per costruire
          una rete tra soggetti e persone senza un fulcro centrale definito, per
          coinvolgere e ascoltare il territorio, facendolo partecipe e
          protagonista di un processo per la costruzione di un nuovo percorso
          politico dal basso. In questi incontri si discuterà di temi strategici
          per il nostro territorio: ambiente, sanità, trasporti, lavoro, temi
          che sappiano fare da innesco ad un dibattito dove tutti potranno avere
          voce, con brevi interventi. Sarà poi chi vive il territorio a
          contribuire e portare la propria esperienza e costruire il dibattito.
        </p>
        <p class="text-justify">
          Perchè discuteremo di temi, prima di ogni altra cosa.
        </p>
        <p class="text-justify">
          Ciò che ci unisce e fa da base ad un percorso condiviso non lo
          possiamo trovare nei calcoli o nelle appartenenze. Sta nelle grandi
          questioni che riguardano la nostra terra, ed è discutendo di quelle
          che possiamo costruire una base comune. Se esiste una possibilità di
          costruire un percorso innovativo ed efficace in Veneto, serve
          coinvolgere le periferie (fisiche e sociali) per portarne la voce al
          centro. E questo deve avvenire a maggior ragione in una delle regioni
          italiane con la maggiore dispersione territoriale. Per questo è
          importante formare una rete, avviare un percorso di ascolto reciproco,
          discutere dei temi che uniscono, costruire una base prima di pensare
          alle altezze.
        </p>
        <p class="text-justify">
          Alla fine di questo percorso, con tutti coloro che ne prenderanno
          parte, tireremo le somme di quanto emerso e delle questioni che tutti
          riteniamo fondamentali. Se saremo tutti d’accordo e avremo trovato
          punti in comune, inizieremo a ragionare di come sfidare la Lega nella
          nostra regione. Abbiamo fiducia e ottimismo verso ciò che potremo
          costruire.
        </p>
      </div>
    </div>
  </div>
</div>
