{% include js.html %}
<!-- footer -->
<div class="text-center">
  <img src="/assets/img/vcv_silhouette.png" width="75%" />
</div>
<div class="footer">
  <div class="container py-2">
    <!-- <div class="row">
     <div class="col-md-2">
        <img src="/assets/img/vcv_silhouette.png" width="250px" />
      </div>
      <div class="col-md-4 offset-md-4 section-social">
        <p class="text-right">
          {% for profile in site.social %}
          <a href="{{ profile.url }}" target="_blank"
            ><i class="{{ profile.fa-icon }}"></i
          ></a>
          {% endfor %}
        </p>
      </div>
    </div> -->
    <div class="row p-5">
      <div class="col">
        <div class="section-social text-center mb-3">
          {% for profile in site.social_network %}
          <a href="{{ profile.url }}" target="_blank" rel="noopener noreferrer"
            ><i class="{{ profile.fa-icon }}"></i
          ></a>
          {% endfor %}
        </div>
        <h2 class="text-center">{{ site.title }}</h2>
        <h6 class="text-center">Elezioni Regionali 2020 - Lorenzoni Presidente</h6>
        <h5 class="text-center">
          Movimento civico e popolare per cambiare il Veneto insieme
        </h5>
      </div>
    </div>
    <div class="row pb-2">
  
        <div class="col-sm">
          <h4>Movimento</h4>
          {% include footer-links.html list=site.data.links.footer.movimento %}
        </div>
        <div class="col-sm">
          <h4>Ufficio Stampa</h4>
          {% include footer-links.html list=site.data.links.footer.ufficio-stampa %}
        </div>
        <div class="col-sm">
          <h4>Province</h4>
          {% include footer-links.html list=site.data.links.province %}
        </div>
  
        <!-- <a target="_blank" href="{{ site.privacy_policy_url }}"
          >Privacy Policy</a
        >
        &nbsp;
        <a href="mailto:ufficiostampa@venetochevogliamo.it">Ufficio Stampa</a> 
        &nbsp;
        <a href="/progetto-politico/">Progetto Politico</a> -->

    </div>
  </div>
</div>
