<!-- footer -->
<div class="footer">
  <div class="container">
    <!-- <div class="row py-3">
      <div class="col">
        1 of 2
      </div>
      <div class="col">
        2 of 2
      </div>
    </div> -->
    <div class="row py-5">
      <div class="col-8">
        Il Veneto che Vogliamo -
        <a target="_blank" href="{{ site.privacy_policy_url }}"
          >Privacy Policy</a
        >
      </div>
      <div class="col" id="social">
        <a
          href="https://www.facebook.com/{{ site.facebook_url }}"
          target="_blank"
          ><i class="fab fa-facebook-f"></i
        ></a>
      </div>
    </div>
  </div>
</div>
