<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ site.url }}">Il Veneto che Vogliamo</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active"></li>
      <li class="nav-item">
        <a class="nav-link" href="#about">Che cos'è</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#newsletter">Newsletter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#roadmap">Prossimi Incontri</a>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <button class="btn my-2 my-sm-0" type="submit">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
      </button>
    </form> -->
  </div>
</nav>
