<!-- roadmap -->
<div class="roadmap" id="roadmap">
  <div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h1>Prossimi incontri</h1>
        <ul class="timeline">
          {% for e in site.data.events %}
          <li>
            <a target="_blank" href="{{ e.fb }}">{{ e.place }}</a>
            <p class="float-right">{{ e.date }}</p>
            <p>
              <br />
              <i class="fas fa-map-marker"></i> {{ e.location }}
              {% if e.live %}
              <br />
              <i class="far fa-play-circle"></i>
              <a target="_blank" href="{{ e.live }}">Guarda la diretta</a>
              {% endif %}
            </p>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
