<!-- about -->
<div class="container" id="about">
  <div class="row justify-content-md-center py-5">
    <div class="col col-md-8">
      <h1>Che cos'è?</h1>
      <p class="text-justify">
        <b>Il Veneto che vogliamo</b> è nato come un percorso di ascolto, in
        tutto il territorio, partendo dai temi e non dai nomi o dalle identità.
      </p>
      <p class="text-justify">
        Negli ultimi mesi abbiamo fatto moltissimi incontri, e sette assemblee
        in tutta la regione, una per provincia. Abbiamo incontrato una quantità
        grande ed insperata di veneti attivi e radicati nel territorio, convinti
        che il futuro non sia scritto e che serva mettersi in gioco tutti
        assieme per disegnarlo.
      </p>
      <p class="text-justify">
        Abbiamo capito che in questo momento è veramente possibile rimettere al
        centro le grandi questioni della Regione, connettere e riconnettere le
        persone e le esperienze che hanno saputo individuare risposte concrete
        sul territorio. Per farlo serve costruire un progetto politico ampio,
        generoso, alternativo, concreto e reale, che metta al centro i contenuti
        e i temi da cui è necessario partire per costruire una regione più equa,
        pulita, sana e innovativa.
      </p>
      <p class="text-justify">
        Le elezioni regionali del 2020 aprono questa opportunità. Stiamo
        cominciando a costruirla, a partire da un appello frutto del percorso di
        ascolto, che abbiamo lanciato l'11 dicembre ed ha già raccolto più di
        400 adesioni. L'appello è un punto di partenza: da qui iniziamo, per
        scrivere assieme il programma.
      </p>
      <p class="text-center">
        <a
          class="btn btn-primary btn-lg btn-block"
          href="/progetto-politico/"
          role="button"
          >Appello <i class="far fa-file-alt"></i
        ></a>
      </p>
    </div>
  </div>
</div>
