<!-- roadmap -->
<div class="roadmap" id="roadmap">
  <div class="container">
    <div class="row justify-content-md-center py-5">
      <div class="col-md-8">
        <h1>Prossimi incontri</h1>
        <ul class="timeline">
          {% for e in site.data.events %}
          <li>
            <a target="_blank" href="{{ e.fb }}">{{ e.place }}</a>
            {% if e.new %}
            <span class="badge badge-warning">Prossimamente</span>
            {% endif %}
            <p class="float-right">{{ e.date }}</p>
            <p>
              <br />
              {% if e.location %}
                <i class="fas fa-map-marked-alt"></i> {{ e.location }}
              {% endif%}
              {% if e.live %}
                <br />
                <i class="far fa-play-circle"></i>
                <a target="_blank" href="{{ e.live }}">Guarda la diretta</a>
              {% endif %}
            </p>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
