---
---

//
// Color system
//
$font-weight-normal: 400;
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #f7f7f9;
$gray-300: #eceeef;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #919aa1;
$gray-700: #55595c;
$gray-800: #343a40;
$gray-900: #1a1a1a;
$black: #000;

$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #d9534f;
$orange: #fd7e14;
$yellow: #f0ad4e;
$green: #4bbf73;
$teal: #20c997;
$cyan: #1f9bcf;

$primary: $blue;
$secondary: $white;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $white;
$dark: $gray-800;

$yiq-contrasted-threshold: 185;

// Body

$body-color: $gray-600;

// Components

$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

// Fonts

$font-family-sans-serif: "Nunito Sans", -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";

$font-size-base: 1.05rem;
$font-size-lg: $font-size-base * 1.25;
$font-size-sm: $font-size-base * 0.875;

$h1-font-size: 2rem;
$h2-font-size: 1.75rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.25rem;
$h5-font-size: 1rem;
$h6-font-size: 0.75rem;

$headings-font-weight: 600;
$headings-color: $gray-900;

// Tables

// $table-border-color: rgba(0, 0, 0, 0.05);

// Buttons

// $btn-line-height: 1.5rem;

// $input-btn-padding-y: 0.75rem;
// $input-btn-padding-x: 2rem;

// $input-btn-padding-y-sm: 0.5rem;
// $input-btn-padding-x-sm: 1rem;

// $input-btn-padding-y-lg: 2rem;
// $input-btn-padding-x-lg: 3rem;

// $btn-font-weight: 600;

// Forms

$input-line-height: 1.5 !default;
$input-font-size: $h5-font-size;
$input-bg: $gray-200 !default;
$input-disabled-bg: $gray-300 !default;

$input-group-addon-bg: $gray-300 !default;

$input-padding-y: 15px;
$input-padding-x: 2rem;

$input-btn-border-width: 0px !default;
$input-border-radius: 0px;

// Navbar

$navbar-toggler-font-size: 16px;
$navbar-toggler-border-radius: 0%;

// $navbar-padding-y: 1.5rem;

$navbar-dark-hover-color: $white;
$border-width: 0px;

$navbar-light-color: rgba($black, 0.3);
$navbar-light-hover-color: $gray-900;
$navbar-light-active-color: $gray-900;

// Pagination

$pagination-border-color: transparent;

$pagination-hover-border-color: $pagination-border-color;

$pagination-disabled-border-color: $pagination-border-color;

// Breadcrumbs

$breadcrumb-bg: transparent;

// Variables ===================================================================

$web-font-path: "https://fonts.googleapis.com/css?family=Nunito+Sans:400,600";
//$web-font-path: "./font/Nunito_Sans/NunitoSans-Regular.ttf";
@import url($web-font-path);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

@import "../_sass/bootstrap";

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");

//custom
.navbar {
  font-size: $font-size-base;
  text-transform: uppercase;
  padding: 15px;
  font-weight: 300;
  @include media-breakpoint-down(md) {
    .navbar-brand {
      font-size: 14px;
    }
  }

  &-nav {
    .nav-link {
      padding-top: 0.715rem;
      padding-bottom: 0.715rem;
    }
  }

  &-brand {
    margin-right: 2rem;
    font-size: 1rem;
    font-weight: 600;
  }
}

.header-logo {
  height: 300px;
  //margin-bottom: 20px;
  background: url(./img/il-veneto-che-vogliamo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.newsletter {
  background: $warning;
  //padding: 30px;
  h1,
  p {
    color: $white;
  }
  label,
  i,
  .form-text,
  .form-check-label {
    color: $black;
  }
  .btn-block {
    margin-top: 20px;
    font-size: 20px;
  }

  .form-group {
    label {
      color: $gray-800;
      font-size: $h5-font-size;
    }
  }
  .privacy,
  #themes {
    .styled-checkbox {
      position: absolute; // take it out of document flow
      display: inline-block;
      opacity: 0; // hide it

      & + label {
        display: block;
        position: relative;
        cursor: pointer;
        padding: 0;
      }

      // Box.
      & + label:before {
        content: "";
        margin-right: 10px;
        display: inline-block;
        vertical-align: text-top;
        width: 20px;
        height: 20px;
        background: white;
      }

      // Box hover
      &:hover + label:before {
        background: #ffffff;
      }

      // Box focus
      &:focus + label:before {
        box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
      }

      // Box checked
      &:checked + label:before {
        background: $green;
      }

      // Disabled state label.
      &:disabled + label {
        color: #b8b8b8;
        cursor: auto;
      }

      // Disabled box.
      &:disabled + label:before {
        box-shadow: none;
        background: #ddd;
      }

      // Checkmark. Could be replaced with an image
      &:checked + label:after {
        content: "";
        position: absolute;
        left: 5px;
        top: 10px;
        background: white;
        width: 2px;
        height: 2px;
        box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white,
          4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
        transform: rotate(45deg);
      }
    }
  }

  /* Switch */

  input[type="checkbox"].switch {
    font-size: $font-size-base;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 3.5em;
    height: 1.5em;
    background: rgb(255, 59, 48);
    border-radius: 3em;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  input[type="checkbox"].switch:checked {
    background: rgb(52, 199, 89);
  }

  input[type="checkbox"].switch:after {
    position: absolute;
    content: "";
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: #fff;
    -webkit-box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    left: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  input[type="checkbox"].switch:checked:after {
    left: calc(100% - 1.5em);
  }
  label.switch {
    vertical-align: middle;
  }

  /* Switch (end) */
}

.roadmap {
  //background: $gray-100;
  ul.timeline {
    list-style-type: none;
    position: relative;
  }
  ul.timeline:before {
    content: " ";
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
  }
  ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
  }
  ul.timeline > li:before {
    content: " ";
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
  }
}

.footer {
  background: $gray-100;
  //padding: 30px;
  h1 {
    color: $black;
  }
  p {
    color: $black;
  }
  #social {
    text-align: right;
    font-size: 2em;
    // .fa-facebook:link,
    // .fa-facebook:active,
    // .fa-facebook:visited,
    .fa-facebook-f:before {
      color: rgb(60, 90, 153);
    }
    .fa-facebook-f:hover:before {
      color: red;
    }
    color: $white;
  }
}

// Navbar ======================================================================

.bg-primary {
  background-color: $gray-900 !important;
}

.bg-light {
  border: 1px solid rgba(0, 0, 0, 0.1);

  &.navbar-fixed-top {
    border-width: 0 0 1px 0;
  }

  &.navbar-bottom-top {
    border-width: 1px 0 0 0;
  }
}

.nav-item {
  margin-right: 2rem;
}

// Buttons =====================================================================

.btn {
  font-size: $font-size-sm;
  text-transform: uppercase;

  &-sm {
    font-size: 10px;
  }

  &-lg {
    font-size: 15px;
  }

  &-warning {
    &,
    &:hover,
    &:not([disabled]):not(.disabled):active,
    &:focus {
      color: $white;
    }
  }
}

.btn-outline-secondary {
  border-color: $gray-600;
  color: $gray-600;

  &:not([disabled]):not(.disabled):hover,
  &:not([disabled]):not(.disabled):focus,
  &:not([disabled]):not(.disabled):active {
    background-color: $gray-400;
    border-color: $gray-400;
    color: $white;
  }

  &:not([disabled]):not(.disabled):focus {
    box-shadow: 0 0 0 0.2rem rgba($gray-400, 0.5);
  }
}

[class*="btn-outline-"] {
  border-width: 2px;
}

.border-secondary {
  border: 1px solid $gray-400 !important;
}

// Typography ==================================================================

body {
  //font-weight: 600;
  letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  letter-spacing: 3px;
}

.text-secondary {
  color: $body-color !important;
}

// Tables ======================================================================

// th {
//   font-size: $font-size-sm;
//   text-transform: uppercase;
// }

// .table {
//   th,
//   td {
//     padding: 1.5rem;
//   }

//   &-sm {
//     th,
//     td {
//       padding: 0.75rem;
//     }
//   }
// }

// Forms =======================================================================

// .custom-switch {
//   .custom-control-label {
//     &::after {
//       top: calc(0.15625rem + 2px);
//       left: calc(-2.25rem + 2px);
//       width: calc(1rem - 4px);
//       height: calc(1rem - 4px);
//     }
//   }
// }

// Navs ========================================================================

.dropdown-menu {
  font-size: $font-size-sm;
  text-transform: none;
}

// Indicators ==================================================================

// Progress bars ===============================================================

// Containers ==================================================================

.list-group-item {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    color: inherit;
  }
}

.card {
  &-title,
  &-header {
    color: inherit;
  }
}

.newsletter {
  background: $warning;
  //padding: 30px;
  h1 {
    color: $white;
  }
  p {
    color: $white;
  }
  .form-group {
    label {
      color: $gray-800;
    }
  }
}

#text-appello {
  text-align: justify;
  h1,
  h2 {
    text-align: center;
    padding-top: 20px;
  }
}

#contribute {
  display: none;
}

#social {
  .btn {
    height: 50px;
    width: 50px;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
  }
  /* Non solid icons get a stroke */
  .sharing-button__icon {
    stroke: #fff;
    fill: none;
  }

  /* Solid icons get a fill */
  .sharing-button__icon--solid,
  .sharing-button__icon--solidcircle {
    fill: #fff;
    stroke: none;
  }

  .sharing-button--twitter {
    background-color: #55acee;
  }

  .sharing-button--twitter:hover {
    background-color: #2795e9;
  }

  .sharing-button--facebook {
    background-color: #3b5998;
  }

  .sharing-button--facebook:hover {
    background-color: #2d4373;
  }

  .sharing-button--linkedin {
    background-color: #0077b5;
  }

  .sharing-button--linkedin:hover {
    background-color: #046293;
  }

  .sharing-button--email {
    background-color: #777;
  }

  .sharing-button--email:hover {
    background-color: #5e5e5e;
  }

  .sharing-button--whatsapp {
    background-color: #25d366;
  }

  .sharing-button--whatsapp:hover {
    background-color: #1da851;
  }

  .sharing-button--facebook {
    background-color: #3b5998;
    border-color: #3b5998;
  }

  .sharing-button--facebook:hover,
  .sharing-button--facebook:active {
    background-color: #2d4373;
    border-color: #2d4373;
  }

  .sharing-button--twitter {
    background-color: #55acee;
    border-color: #55acee;
  }

  .sharing-button--twitter:hover,
  .sharing-button--twitter:active {
    background-color: #2795e9;
    border-color: #2795e9;
  }

  .sharing-button--whatsapp {
    background-color: #25d366;
    border-color: #25d366;
  }

  .sharing-button--whatsapp:hover,
  .sharing-button--whatsapp:active {
    background-color: #1da851;
    border-color: #1da851;
  }

  .sharing-button--telegram {
    background-color: #54a9eb;
  }

  .sharing-button--telegram:hover {
    background-color: #4b97d1;
  }
}
