<div class="form-group">
  <label for="menu-provincia">Seleziona una Provincia</label>
<select
  class="form-control"
  id="menu-province"
  onchange="javascript:location.href = '/province/' + this.value + '/';"
>
  <option value="" selected disabled>Provincia</option>
  <option value="belluno">Belluno</option>
  <option value="padova">Padova</option>
  <option value="rovigo">Rovigo</option>
  <option value="treviso">Treviso</option>
  <option value="venezia">Venezia</option>
  <option value="verona">Verona</option>
  <option value="vicenza">Vicenza</option>
</select>

</div>