<!DOCTYPE html>
<html lang="it">
  {% include head.html %}
  <body>
    {% include header.html %}
    <div class="container">
      <div class="row justify-content-md-center py-3">
        <div class="col col-md-8">
          {% include breadcrumbs.html %}
          <h1>
            {{ page.title }}
          </h1>
          <p>
            <em>{% include date.html date=page.date %}</em>
          </p>
          <div class="text-justify">
            {{ content }}
          </div>
          {% include share-buttons.html %}
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>